body{
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 5px;
    flex:1;
}

header{
    display: flex;
    flex-direction: column;
    background-color: grey;
    flex: 1;
}

nav{
    display: block;
    position:fixed;
    align-content: center;
    align-self: flex-end;
}

#search{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-self: center;
    border-color: black;
    border-width: 4px;
    position: fixed;
    align-content: center;
}


#titre{
    display: flex;
    flex-direction: row;
    border-color: blue;
    border-width: 5px;
    align-content: center;
}

#div1{
    display: flex;
    background-color: rgb(52, 52, 52);
    flex: 1;
}

#publication{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    align-self: flex-end;
    flex: 1;
}

#listecontact{
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-right-color: grey;
    border-right-width: 10px;
    flex: 0.5;
}

#conv{
    display: block;
    flex-direction: column-reverse;
    align-self: flex-end;
    justify-content: space-around;
    flex: 0.5;

}

#imgprofil{
    display: flex;
    background-color: red;
}

#likecomment{
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: red;
}

#mess{
    background-color: rgb(55, 52, 52);

}

#public{
    display: block;
    height: 370px;
}

#message{
    display: block;
    position: relative;
    align-self: right;    
}

#com{
    display: block;
    height: 300px;
}

#envoi{
    display: flex;
    flex-direction: column;
    align-self: center;
}

#conversation{
    display: flex;
    flex-direction: column;
    flex: 1;
}


#ul1{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.sous{
	display:none;
	}
    
li.deroulant:hover ul.sous{
	display:block;
	}

li.contact{
    border: solid;
    background-color: lightgray;
}

li.message{
    border: solid;
    background-color: darkgray;
}

ul{
    list-style-type: none;
}

