body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 238, 238, 0.914);
}

/* nav */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    top: 0;
    background-color: #fff;
    margin: 0;
    box-shadow: 12px 1px 5px grey;
    color: black;
}

#onglets a{
    color: black;
    padding: 0.2em;
    font-size: 2.2em;
}

#onglets{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

/* Section */

/***** partie gauche *****/

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#container_publication{
    width: 50%;
    padding-right: 2em;
    border-right: 2px solid rgb(173, 173, 173);
}

.publication{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #fff;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
}

.publication .profil img{
    height: 5em;
    width: 5em;
    padding-top: 10%;
}

.message_interaction{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.message_interaction .onglets i{
    font-size: xx-large;
}

.message_interaction .onglets img{
    height: 2em;
    width: 2em;
}

.profil{
    padding: 1em;
}

#recherche{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 26%;
}

.motPourRecherche:focus{
    outline: none;
}

.motPourRecherche {
    height: 3em;
    width: 400px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    border: 1px black solid;
    background-color: #F5F7F9;
}

.validerRecherche img{
    height: 40px;
    width: 40px;
}

.validerRecherche:hover{
    border: 1px solid black;
    border-radius: 35px;
    background-color: #2BFF7B;
}

.validerRecherche{
    border: none;
    background-color: white;
}

/***** partie droite *****/

.container_profil{
    width: 45%;
    padding-left: 2em;
}

.profilDebut{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    height: 100%;
    border: 2px black solid;
    background-color: white ;
}

.profil{
    display: flex;
    flex-direction: row;
    flex: 0.8;
}

.container_profil_name_metier{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profil_name_metier{
    width: 90%;
    height: 90%;
}

.profil_name_metier p{
    font-size: 25px;
}

#name{
    font-size: 35px;
}

#metier{
    margin-left: 15px;
    font-weight: bolder;
}

.Description{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Description_texte{
    flex: 2;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerPetitDescription_texte{
    height: 80%;
    width: 85%;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    display: flex;
    flex-direction: column;
}

.titreDescription{
    height: 35%;
    display: flex;
    margin-left: 20px;
}

.titreDescription p{
    font-size: 1.2em;
    text-decoration: underline;
}

.paragrapheDescription{
    height: 65% ;
    margin-left: 5px;
}

.Description_bouton{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.profil_nombre_contact{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profil_nombre_publication{
    flex: 4;
    display: flex;
    flex-direction: row;
}

.modification_profil{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Description_bouton img{
    height: 2.5em;
    width: 2.5em;
}

.publication_profil{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    background-color: gray;
    border-radius: 15px;
}

.publication_utilisateur{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

#icone_picture{
    width: 10em;
    height: 10em;
}

.profil_nombre_contact i{
    font-size: 1.8em;
}

.modification_profil i{
    font-size: 1.8em;
    color: black;
}


