#recherche2{
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.validerRecherche2 img{
    height: 35px;
    width: 35px;
}

.motPourRecherche2{
    width: 75%;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    border: 1px black solid;
    background-color: #F5F7F9;
}

.validerRecherche2:hover{
    border: 1px solid black;
    border-radius: 35px;
    background-color: #2BFF7B;
}

.validerRecherche2{
    border: none;
    background-color: white;
}


/*partie gauche*/

#filter{
    width: 30%;
    padding: 1em;
    border-right: 2px solid rgb(173, 173, 173);
}
/*partie droite*/
#Faq{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 2em;
}

.message{
    border: solid;
    margin-top: 1em;
    padding: 0.5em;
    background-color: grey;
    border-radius: 2em;
}
