body{
    margin: 0;
    padding: 0;
    background-color: rgba(238, 238, 238, 0.914);
}

/* nav */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    top: 0;
    background-color: #fff;
    margin: 0;
    box-shadow: 12px 1px 5px grey;
    color: black;
}

#onglets{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#onglets i{
    color: black;
    padding: 0.2em;
    font-size: 2em;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*partie gauche*/
#filter{
    width: 30%;
    padding: 1em;
    border-right: 2px solid rgb(173, 173, 173);
}
/*partie droite*/
#Faq{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 2em;
}

.message{
    border: solid;
    margin-top: 1em;
    padding: 0.5em;
    background-color: grey;
    border-radius: 2em;
}

ul.sous{
	display:none;
	}
li.deroulant:hover ul.sous{
	display:block;
    position: absolute;
    right: 0%;
    list-style-type: none;
    margin: 0;
    border: solid;
	}

#onglets a{
    font-size: 1em;
}
